body{
    background-color: rgb(250, 250, 250);
    font-size: medium;
    padding: auto;
    padding: 6em;
}
.description{
    text-align: left;
    font-size: 20px;
    padding: none;
    margin-top: -20mm;
    
}

.education_header{
    padding-left: 60%; 
    font-size: 20px;
    text-align: left;
    margin-top: -23mm;
}

.education{
    font-size: ;
}
.school{
    padding: 0.5em;
}

.summary{
    padding-right:60%; 
    font-size: 20px;
    text-align: left;
    padding-top: 1em;
    margin-top: -3rem;
}
h1{
    font-size: 20px; 
    text-emphasis: none;
}

.employment_header{
    padding-left: 60%; 
    font-size: 20px;
    text-align: left;
    margin-top: -25mm;
}

.skills{
    padding-right: 60%; 
    font-size: 20px;
    text-align: left;
    display: inline-block;
    margin-top: -15em;
}

